*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Colors */
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
  --color-bg: #ffffff;

  /* Typography */
  --font-family: 'Outfit', sans-serif;
  --font-size-base: 16px;
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  /* Spacing */
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2.5rem;

  /* Text Preset 1 */
  --main-txt-line-height: 120%;
  --main-txt-size: 1.375rem;
  --main-text-weight: 700;

  /* Text Preset 2 */
  --scd-txt-spacing: 0.2px;
  --scd-txt-size: 0.938rem;
  --scd-txt-weight: 400;
}

body {
  font-family: 'Outfit';
  background: var(--slate-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: var(--main-txt-size);
  font-weight: var(--font-weight-bold);
  line-height: 120%;
  color: var(--slate-900);
}

p {
  font-size: var(--scd-txt-size);
  font-weight: var(--font-weight-regular);
  line-height: 120%;
  color: var(--slate-500);
}
